p{
	font-family:ariel;
	font-size:1.1em;
	text-align:left;
}
nav ul li{
display:inline;
}

nav ul{
 padding-left:0;
 margin-left:0;
 background-color:black;
 float:left;
 width:100%;
 

}

nav ul li a{
	font-family:"Britannic";
	padding:0.2em 1em;
	background-color:black;
	color:white;
	text-decoration:none;

}

nav ul li a:hover{
	background-color:white;
	color:black;
}


#mainContent {
	border-style: solid;
	border-width: 3px;
	border-radius: 25px;
	margin-left:200px;
	margin-right:200px;
	padding:100px;
	padding-top:10px;
	padding-bottom:100px;
	background-color:white;
	min-width: 640px;
	box-shadow: 15px 15px 5px rgba(50, 50, 50, 0.75);
}

body{
	background-color:grey;
}

